.App {
  text-align: center;
}

.App-header {
  background-color: #317b35b0;
  min-height: 10vh;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 30%);
}